footer
	div.inner
		div.logo
			a(href="./")
				img#logo(src="assets/images/logos/logo-gray.svg")
		div.links
			a(href="mailto:us@meeet.co") Contact
			a(href="http://twitter.com/meeetco") Twitter
		small
			| &copy; 2016 <a target="_blank" href="http://prettycommon.com">Pretty Common</a>

script(src="assets/js/jquery.formchimp.min.js")
script(src="assets/js/form.js")
script(src="assets/js/modernizr.min.js")
script(src="assets/js/backgroundClip.js")
