doctype html
html
  head
    title Meeet
    meta(name="description" content="Meeet connects developers and designers working on side projects.")
    meta(name="keywords" content="side, projects, find, develop, design, partner")
    meta(name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, minimal-ui")
    link(rel="icon", type="image/png", href="assets/images/favicons/Meeet-32x32.png")
    
    link(rel='stylesheet', href='assets/styles/main.css')
    link(rel="stylesheet" href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600")

    script(src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js")
    script.
      !function(g,s,q,r,d){r=g[r]=g[r]||function(){(r.q=r.q||[]).push(
      arguments)};d=s.createElement(q);q=s.getElementsByTagName(q)[0];
      d.src='//d1l6p2sc9645hc.cloudfront.net/tracker.js';q.parentNode.
      insertBefore(d,q)}(window,document,'script','_gs');
      _gs('GSN-015151-W');
  body
    header.heroic
      div.container
        div.heroic-inner
          img.logo(src="assets/images/logos/logo-circle.svg", alt="")
          h1 Finish your side projects.
          h1 Find your next one.
          p.copy Meeet connects developers and designers working on side projects.
          // a.sign-up-button(href="http://app.meeet.co") Discover your Project
    article.main
      section.block-1
        p Meeet is the place to find a collaborator to help you ship that side project left by the wayside. We're here to help you find the best person to help you ship your project and discover your next one. Your portfolio will be stronger in no time.
      section.block-2
        .container
          h2 Build Your R&eacute;sum&eacute;
          p Side projects are the new portfolio builder. Finish up those you've left behind or start a new one! If you don't have your own idea, you can collaborate with someone else.
          img(src="assets/images/resume.png", alt="")
      section.block-3
        .container
          h2 Find the Yin to Your Yang
          p Find a co-partner that complements your own skill set to create the best possible version of your project. Our search will match you up with skills you define in your project listing.
          img(src="assets/images/search.png", alt="")
      section.block-4
        .container
          h2 Accountability
          p We're all about finishing what we start. You're just working with just one other person, and you're limited to working on one project at a time.
          img(src="assets/images/accountability.png", alt="")
      section.block-3
        .container
          h2 Tastes Like Free
          p Side projects shouldn't cost you much money. While we'd love for you to buy a Pro account, Meeet is free to use. All we need from you is the name, a short description, and a few tags to distinguish it.
          img(src="assets/images/free.png", alt="")
      section.block-5
        .container
          h2 Streamlined System
          p We're keeping it simple for you. Meeet is here to provide you with a directory of sweet side projects and awesome collaborators &mdash; we know you can take care of the rest.
          div.holster
            .third
              h3 Listing
              ul
                li No images &mdash; just ideas
                li Short taglines and descriptions
                li Free
            .third
              h3 Discovering
              ul
                li Collaborator search
                li Project search
                li Controlled, skill-based tag system
            .third
              h3 Community Building
              ul
                li Accountability through collaboration
                li I ship, you ship, we all ship mentality
                li Featured side projects list everything we've done
      section.block-6
        .container
          h2 Let's Get Down to Business
          aside.nine-col
            span
            p
              | Meeet is launching spring 2016. We'll be opening up the
              | beta soon, so you can <a href="http://twitter.com/meeetco">follow Meeet</a>
              | on Twitter to be notified when that happens!
  
  include partials/footer
